@font-face {
  font-family: headingb;
  src: url(/fonts/HelveticaNowDisplay-Medium.woff2);
}
@font-face {
  font-family: headingm;
  src: url(/fonts/HelveticaNowDisplay-Regular.woff2);
}
@font-face {
  font-family: para;
  src: url(/fonts/FreightBigProLight-Regular.woff2);
}
@font-face {
  font-family: paraItalic;
  src: url(/fonts/FreightBigProLight-Italic.woff2);
}
@font-face {
  font-family: paraBold;
  src: url(/fonts/66601c7c6b0d48cf88bbe09a_PPNeueMontreal-SemiBold.woff2);
}
::-webkit-scrollbar {
  display: none !important;
}
.c-scrollbar_thumb {
  display: none !important;
}
::selection {
  background-color: #f5e31a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

/* SERVICE CSS START */

#service-page {
  position: fixed;
  top: -100%;
  left: 0;
  background-color: #f5e31a;
  height: 100vh;
  width: 100%;
  z-index: 9;
  padding-top: 40px;
}
#about-service-text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 500;
  font-family: headingm;
}
#service-top {
  width: 100%;
  padding: 8px 13px;
  display: flex;
  align-items: center;
  justify-content: end;
}
#service-top p {
  font-family: paraBold;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
}

#service-offer {
  width: 100%;
  height: calc(100vh - 75px);
  display: flex;
  align-items: center;
  padding: 13px;
}
#our-service {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 150px;
}
.service-wrap {
  width: 80%;
  display: flex;
  align-self: start;
  justify-content: space-between;
  width: 80%;
}
#our-service .services {
  height: 100%;
}

#our-service .services p {
  font-family: headingb;
  font-size: 17px;
}
.service-title {
  padding-bottom: 12px;
  font-size: 14px !important;
  font-family: paraBold !important;
  text-transform: uppercase !important;
}

.service-title-main {
  font-size: 14px !important;
  font-family: paraBold !important;
}

#our-service .services .text-effect {
  margin-bottom: 12px;
  height: 16px;
}
#our-service .services .text-effect .effect {
  font-size: 14px;
}

nav {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 13px;
  z-index: 2;
}
#nav-right #studio-btn .effect {
  opacity: 0.5;
}
nav #studio-btn.active .effect {
  opacity: 1 !important;
}
nav #nav-service.active {
  opacity: 1 !important;
}
#logo {
  font-family: headingb;
  font-weight: 600;
  font-size: 16px;
}
nav a {
  text-decoration: none;
  color: black;
}
nav img {
  height: 30px;
  filter: grayscale(100%) brightness(0%) contrast(100%);
}
#nav-right {
  display: flex;
  align-items: center;
  font-family: paraBold;
  font-size: 14px;
  text-transform: capitalize;
  gap: 20px;
}
#nav-right #nav-service {
  cursor: pointer;
  opacity: 0.5;
}
#nav-right #nav-service:hover {
  opacity: 1;
}

/* SERVICE CSS  END */

#main {
  position: relative;
  width: 100%;
  background-color: white;
}

/* PAGE1 CSS START */

#page1 {
  height: 75vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 13px;
}
#page1 .title-1 {
  height: 10vw;
  overflow: hidden;
}
#page1 h2 {
  font-size: 10vw;
  font-weight: 100;
  font-family: para;
  line-height: 0.7;
}
#page1 .title-2 {
  height: 7vw;
  overflow: hidden;
  margin-bottom: 6.5vw;
}
#page1 h3 {
  font-size: 10vw;
  font-weight: 500;
  line-height: 0.5;
  text-align: right;
  font-family: paraItalic;
}
.details-project {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.details-project p {
  font-size: 14px;
  text-transform: capitalize;
  font-family: headingm;
  width: 25%;
}
.details-project .left {
  width: 50%;
}
.details-project .right {
  width: 50%;
}

/* PAGE1 CSS END */

/* PAGE2 CSS START */

#page2 {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
#page2 video {
  width: 120%;
  height: 100%;
  object-fit: cover;
}

/* PAGE2 CSS END */

/* PAGE 3 START */

#page3 {
  width: 100%;
  padding: 20px 13px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#page3 .banner {
  width: 49.5%;
  margin-bottom: 20px;
  clip-path: polygon(0% 20%, 100% 20%, 100% 100%, 0% 100%);
}
#page3 .banner-lg {
  width: 100%;
  margin-bottom: 20px;
  clip-path: polygon(0% 20%, 100% 20%, 100% 100%, 0% 100%);
}

#page3 img,
#page3 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* PAGE3 CSS END */

/* PAGE4 CSS START */

#page4 {
  width: 100%;
  padding: 13px;
  margin: 10vw 0;
}
#related-project {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#related-project h2 {
  font-size: 3.2vw;
  text-align: center;
  font-family: para;
  font-weight: 500;
  line-height: 0.7;
}
#related-project h2 span {
  font-family: paraItalic;
}
#related-project h3 {
  font-size: 1.1vw;
  font-family: headingm;
  font-weight: 500;
  text-transform: capitalize;
}
#projects-related {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}
#projects-related a {
  text-decoration: none;
  color: black;
}

.project-small .showcase {
  width: 100%;
  height: 415px;
  background-color: rgba(128, 128, 128, 0.112);
  margin-bottom: 8px;
  position: relative;
}
.showcase-over {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.showcase-over video,
.showcase-over img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: all ease 0.4s;
}
.project.active .showcase-over video {
  opacity: 1;
}
.project.active .showcase-over img {
  opacity: 1;
}

.showcase img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-small {
  flex-shrink: 0;
  width: 24.5%;
  margin-bottom: 40px;
}
.project-small h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 0.8;
  font-family: para;
  text-transform: uppercase;
}
.project-small h4 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  font-family: paraItalic;
  text-transform: capitalize;
}

/* PAGE4 CSS END */

/* FOOTER CSS START */

footer {
  width: 100%;
  padding: 8px 13px;
  font-family: headingb;
  font-size: 14px;
}
#footer-pt1 {
  width: 18.5%;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  gap: 20px;

}
.ft-title {
  margin-bottom: 5px;
  font-family: paraBold;
  text-transform: uppercase;
}
#footer-pt2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
#ft-lf {
  width: fit-content;
  height: 100%;
}
#ft-lf p {
  text-transform: uppercase;
  font-family: paraBold;
}
#ft-rt {
  width: 33%;
}
.rt-top {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.rt-top a {
  font-family: paraBold;
  text-transform: uppercase;
}
.rt-top p {
  font-family: paraBold;
  text-transform: uppercase;
}
.rt-top #mail {
  text-transform: lowercase !important;
}
.footer-mail {
  display: flex;
  align-items: center;
  gap: 5px;
}
.icon-ft {
  width: 15px;
  height: 15px;
  margin: 15px 0;
  overflow: hidden;
}
.icon-ft:hover img {
  transform: translateY(-105%);
}
.footer-mail:hover i {
  transform: translateY(-105%);
}

.icon-ft img {
  width: 100%;
  height: 100%;
  filter: invert(1);
  transition: all ease 0.3s;
}
.mail-icon {
  margin: 0;
}
.mail-icon i {
  width: 100%;
  height: 100%;
  transition: all ease 0.3s;
  display: inline-block;
}
.text-effect {
  height: 14px;
  overflow: hidden;
  margin-bottom: 3px;
  width: fit-content;
  cursor: pointer;
}
.text-effect span {
  display: inline-block;
}
.text-effect a {
  display: block;
}

footer > p{
  display: none;
}

/* FOOTER CSS END */

/* STRIP ANIMATION */

.black-strip {
  position: relative;
  transition: all ease 0.2s;
  z-index: 2;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 2px;
}
.black-strip::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: black;
  z-index: -1;
  transition: all ease 0.2s;
}

.black-strip:hover::before {
  width: 100%;
}
.black-strip:hover {
  color: white !important;
}

a {
  text-decoration: none;
  color: black;
}

/* Extra Small Devices (Phones) */
@media (max-width: 575px) {
  #service-page {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: #f5e31a;
    height: 100svh;
    width: 100%;
    z-index: 9;
    padding-top: 40px;
  }
  #page1 {
    height: 60vh;
    padding: 13px;
    padding-bottom: 20px;
  }
  #page1 h2 {
    font-size: 15vw;
  }
  #page1 .title-1 {
    height: 15.5vw;
  }
  #page1 .title-2 {
    height: 15vw;
    margin-bottom: 6.5vw;
  }
  #page1 h3 {
    font-size: 15.5vw;
  }
  .details-project {
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }
  .details-project .left {
    width: 100%;
  }
  .details-project .left p {
    font-size: 14px;
    text-transform: capitalize;
    font-family: headingm;
    width: 80%;
  }
  .details-project .right {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .details-project .right p {
    font-size: 14px;
    width: 50%;
  }
  #page3 .banner {
    width: 100%;
    margin-bottom: 20px;
  }
  #projects-related {
    width: 100%;
    padding-top: 20px;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    gap: 13px;
  }
  #projects-related .project-small {
    width: 90%;
    margin-bottom: 40px;
  }
  #related-project h2 {
    font-size: 7.5vw;
  }
  #related-project h3 {
    font-size: 4.5vw;
  }
  
  #footer-pt1 {
    width: 95%;
    gap: 30px;
    margin-bottom: 100px;
  }
  #footer-pt2 {
    margin-bottom: 20px;
  }

  #footer-pt2 > p {
    display: none;
  }
  #ft-lf {
    display: none;
  }
  #ft-rt {
    width: 100%;
  }
  .rt-top {
    justify-content: start;
    gap: 45px;
  }
  .text-effect {
    height: 17px;
    margin-bottom: 6px;
  }
  .icon-ft {
    width: 16px;
    height: 16px;
  }
  footer {
    font-size: 16px;
  }
  footer >p{
    font-size: 14px;
    display: block;
  }
  #mail {
    display: none;
  }
}

/* Small Devices (Tablets) */
@media (min-width: 576px) and (max-width: 767px) {
  /* Styles for tablets */
}

/* Medium Devices (Small Laptops) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Styles for small laptops */
}

/* Large Devices (Laptops and Desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Styles for laptops */
}

/* Extra Large Devices (Wide Desktops) */
@media (min-width: 1200px) {
  /* Styles for wide desktops */
}
