
#relax-section {
    width: 100%;
    height: 100dvh;
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 999;
    background-color: #ECEBE7;
  }
 #relax-section canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .header{
    position: relative;
    z-index: 99;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 13px;
    user-select: none;
  
  }

  #mute-music{
  cursor: pointer;
}

  .header p{
    font-family: paraBold;
    text-transform: uppercase;
    font-size: 14px;
  }
 


  .header .text-effect{
    margin-bottom: 0;
  }
  
  
  #music-controls{
    width: 60%;
    height: 70px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }
  
  .music-box{
    width: calc(100%/3);
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 30px;
  }
  .music-box p{
    white-space: nowrap;
  }
  
  .music-box:nth-child(2){
    border-left: none;
    border-right: none;
  }
  
  .volume{
    width: 100%;
    height: 1px;
    background-color: black;
    position: relative;
    cursor: pointer;
  }
  .volume-control{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background-color: black;
  }
  