@font-face {
  font-family: headingb;
  src: url(/fonts/HelveticaNowDisplay-Medium.woff2);
}
@font-face {
  font-family: headingm;
  src: url(/fonts/HelveticaNowDisplay-Regular.woff2);
}
@font-face {
  font-family: para;
  src: url(/fonts/FreightBigProLight-Regular.woff2);
}
@font-face {
  font-family: paraItalic;
  src: url(/fonts/FreightBigProLight-Italic.woff2);
}
@font-face {
  font-family: paraBold;
  src: url(/fonts/66601c7c6b0d48cf88bbe09a_PPNeueMontreal-SemiBold.woff2);
}
::-webkit-scrollbar {
  display: none !important;
}
.c-scrollbar_thumb {
  display: none !important;
}
::selection {
  background-color: #f5e31a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

/* SERVICE CSS START */

#service-page {
  position: fixed;
  top: -100%;
  left: 0;
  background-color: #f5e31a;
  height: 100vh;
  width: 100%;
  z-index: 9;
  padding-top: 40px;
}
#about-service-text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 500;
  font-family: headingm;
}
#service-top {
  width: 100%;
  padding: 8px 13px;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 40px;
}
#service-top p {
  font-family: paraBold;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
}

#service-offer {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  padding: 13px;
  overflow-y: auto;
}
#our-service {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 150px;
}

.service-wrap {
  width: 80%;
  display: flex;
  align-self: start;
  justify-content: space-between;
  width: 80%;
}
#our-service .services {
  height: 100%;
}
#about-service-text {
  display: none;
}

#our-service .services p {
  font-family: headingb;
  font-size: 17px;
}
.service-title {
  padding-bottom: 12px;
  font-size: 14px !important;
  font-family: paraBold !important;
  text-transform: uppercase !important;
}

.service-title-main {
  font-size: 14px !important;
  font-family: paraBold !important;
  text-transform: uppercase;
}

#our-service .services .text-effect {
  margin-bottom: 12px;
  height: 16px;
}
#our-service .services .text-effect .effect {
  font-size: 14px;
}

nav {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 13px;
  z-index: 2;
}
#nav-right #studio-btn .effect {
  opacity: 0.5;
}
nav #studio-btn.active .effect {
  opacity: 1 !important;
}
nav #nav-service.active {
  opacity: 1 !important;
}
#logo {
  font-family: headingb;
  font-weight: 600;
  font-size: 16px;
}
nav a {
  text-decoration: none;
  color: black;
}
nav img {
  height: 30px;
  filter: grayscale(100%) brightness(0%) contrast(100%);
}
#nav-right {
  display: flex;
  align-items: center;
  font-family: paraBold;
  font-size: 14px;
  text-transform: capitalize;
  gap: 20px;
}
#nav-right #nav-service {
  cursor: pointer;
  opacity: 0.5;
}
#nav-right #nav-service:hover {
  opacity: 1;
}

/* SERVICE CSS  END */

#main {
  position: relative;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}

/* PAGE1 CSS START */

#page1 {
  position: relative;
  width: 100%;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-text {
  position: absolute;
  bottom: 45%;
}

.header-text h2 {
  font-size: 3vw;
  text-align: center;
  font-family: paraItalic;
  line-height: 0.9;
}
.header-text h2 span {
  display: inline-block;
  margin-right: 10px;
}
.header-text h2 .lower {
  font-family: paraItalic;
  font-weight: 500;
}
.header-text h2 .upper {
  font-family: para;
  font-weight: 500;
}
#filter-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 13px;
  display: flex;
  align-items: center;
  gap: 5px;
}
#filter-container p {
  color: rgba(0, 0, 0, 0.589);
  font-family: headingb;
  font-size: 14px;
  text-transform: capitalize;
  padding: 4px 13px;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.1s;
}
#filter-container .active {
  background-color: #f5f5f5;
  color: #000;
}
#filter-container p:hover {
  background-color: #f5f5f5;
}

/* PAGE1 CSS END */

/* PAGE2 CSS START */

#page2 {
  width: 100%;
  min-height: 50vh;
  padding: 0 13px;
  margin-bottom: calc(10vw - 40px);
}

#flip-filter-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* padding: 13px; */
  /* padding-bottom: 50px; */
  height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
  border-top: 1px solid rgba(128, 128, 128, 0.336);
  transition: all ease 0.6s;
}
.options-fl-main {
  width: calc(100% / 4);
}
.options-fl {
  width: fit-content;
  display: flex;
  align-items: start;
}
#flip-filter-container p {
  font-family: para;
  text-transform: capitalize;
  font-size: 25px;
  line-height: 0.8;
  margin-bottom: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: all ease 0.3s;
}
#flip-filter-container .options-fl:hover p {
  font-family: paraItalic;
}
#page2 .project {
  text-decoration: none;
  color: black;
}
.projects-container {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

#all-project,
#filter-project {
  display: none;
  opacity: 0;
}

.empty-space {
  opacity: 0;
}
.project-small .showcase {
  width: 100%;
  height: 415px;
  background-color: rgba(128, 128, 128, 0.112);
  margin-bottom: 8px;
  position: relative;
}
.showcase-over {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.showcase-over video,
.showcase-over img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: all ease 0.4s;
}
.project.active .showcase-over video {
  opacity: 1;
}
.project.active .showcase-over img {
  opacity: 1;
}

.showcase img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-small {
  flex-shrink: 0;
  width: 24.5%;
  margin-bottom: 40px;
}
.project-small h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 0.8;
  font-family: para;
  text-transform: uppercase;
}
.project-small h4 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  font-family: paraItalic;
  text-transform: capitalize;
}
.project-large {
  width: 49.5%;
  flex-shrink: 0;
  margin-bottom: 40px;
}
.project-large .showcase {
  width: 100%;
  height: 120vh;
  background-color: rgba(128, 128, 128, 0.112);
  margin-bottom: 8px;
  position: relative;
}

.project-large h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  font-family: para;
  text-transform: uppercase;
}
.project-large h4 {
  font-size: 28px;
  font-weight: 500;
  line-height: 0.8;
  font-family: paraItalic;
  text-transform: capitalize;
}

/* PAGE2 CSS END */

/* PAGE3 CSS START */

#page3 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#page3 h2 {
  font-size: 3.5vw;
  text-align: center;
  font-family: paraItalic;
  line-height: 0.7;
}
#page3 h2 span {
  display: inline-block;
  margin-right: 10px;
}
#page3 h2 .lower {
  font-family: paraItalic;
  font-weight: 500;
}
#page3 h2 .upper {
  font-family: para;
  font-weight: 500;
}

/* PAGE3 CSS END */

/* FOOTER CSS START */

footer {
  width: 100%;
  padding: 8px 13px;
  font-family: headingb;
  font-size: 14px;
}
#footer-pt1 {
  width: 18.5%;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  gap: 20px;
}
.ft-title {
  margin-bottom: 5px;
  font-family: paraBold;
  text-transform: uppercase;
}
#footer-pt2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
#ft-lf {
  width: fit-content;
  height: 100%;
}
#ft-lf p {
  text-transform: uppercase;
  font-family: paraBold;
}
#ft-rt {
  width: 33%;
}
.rt-top {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.rt-top a {
  font-family: paraBold;
  text-transform: uppercase;
}
.rt-top p {
  font-family: paraBold;
  text-transform: uppercase;
}
.rt-top #mail {
  text-transform: lowercase !important;
}
.footer-mail {
  display: flex;
  align-items: center;
  gap: 5px;
}
.icon-ft {
  width: 15px;
  height: 15px;
  margin: 15px 0;
  overflow: hidden;
}
.icon-ft:hover img {
  transform: translateY(-105%);
}
.footer-mail:hover i {
  transform: translateY(-105%);
}

.icon-ft img {
  width: 100%;
  height: 100%;
  filter: invert(1);
  transition: all ease 0.3s;
}
.mail-icon {
  margin: 0;
}
.mail-icon i {
  width: 100%;
  height: 100%;
  transition: all ease 0.3s;
  display: inline-block;
}
.text-effect {
  height: 14px;
  overflow: hidden;
  margin-bottom: 3px;
  width: fit-content;
  cursor: pointer;
}
.text-effect span {
  display: inline-block;
}
.text-effect a {
  display: block;
}

footer > p {
  display: none;
}

/* FOOTER CSS END */

/* STRIP ANIMATION */

.black-strip {
  position: relative;
  transition: all ease 0.2s;
  z-index: 2;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 2px;
}
.black-strip::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: black;
  z-index: -1;
  transition: all ease 0.2s;
}

.black-strip:hover::before {
  width: 100%;
}
.black-strip:hover {
  color: white !important;
}

a {
  text-decoration: none;
  color: black;
}

/* Extra Small Devices (Phones) */
@media (max-width: 575px) {
  #service-page {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: #f5e31a;
    height: 100svh;
    width: 100%;
    z-index: 9;
    padding-top: 40px;
  }
  #service-offer {
    width: 100%;
    height: calc(100svh - 80px);
    align-items: start;
    padding: 13px;
    overflow-y: auto;
  }
  .service-wrap {
    align-self: start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  #our-service {
    align-items: start;
    gap: 20px;
    flex-direction: column;
  }
  .header-text {
    bottom: 32%;
  }
  #filter-container {
    padding: 13px;
    gap: 5px;
    overflow-x: auto;
  }
  #filter-container p {
    font-size: 16px;
    padding: 8px 13px;
    display: flex;
    align-items: center;
  }
  .name-tag {
    display: flex;
    align-items: center;
  }
  .name-space {
    height: fit-content;
    display: flex;
    white-space: nowrap;
  }
  .options-fl-main {
    width: 100%;
  }
  .projects-container {
    width: 100%;
    flex-direction: column;
  }
  .project-small {
    width: 100%;
    margin-bottom: 40px;
  }
  .project-large {
    width: 100%;
    margin-bottom: 40px;
  }
  .project-large .showcase {
    width: 100%;
    height: 415px;
    margin-bottom: 8px;
  }
  .empty-space {
    display: none;
  }
  .header-text h2 {
    font-size: 30px;
    line-height: 1.1;
  }
  #page2 {
    padding-bottom: 60px;
  }

  #footer-pt1 {
    width: 95%;
    gap: 30px;
    margin-bottom: 100px;
  }
  #footer-pt2 {
    margin-bottom: 20px;
  }

  #footer-pt2 > p {
    display: none;
  }
  #ft-lf {
    display: none;
  }
  #ft-rt {
    width: 100%;
  }
  .rt-top {
    justify-content: start;
    gap: 45px;
  }
  .text-effect {
    height: 17px;
    margin-bottom: 6px;
  }
  .icon-ft {
    width: 16px;
    height: 16px;
  }
  footer {
    font-size: 16px;
  }
  footer > p {
    font-size: 14px;
    display: block;
  }
  #mail {
    display: none;
  }
}

@media (min-width: 460px) and (max-width: 574px){
  .projects-container {
    width: 100%;
    flex-direction: row;
}
  .project-small {
    width: 49% !important;
    margin-bottom: 20px;
  }
  .project-large {
    width: 49% !important;
    margin-bottom: 20px;
  }
  .project-small .showcase {
    height: 300px !important;
    margin-bottom: 8px !important;
  }
  .project-large .showcase {
    width: 100%;
    height: 300px !important;
    margin-bottom: 8px !important;
  }
}

@media (min-width: 575px) and (max-width: 650px){
  .projects-container {
    width: 100%;
    flex-direction: row;
}
  .project-small {
    width: 49% !important;
    margin-bottom: 20px;
  }
  .project-large {
    width: 49% !important;
    margin-bottom: 20px;
  }
  .project-small .showcase {
    height: 360px !important;
    margin-bottom: 8px !important;
  }
  .project-large .showcase {
    width: 100%;
    height: 360px !important;
    margin-bottom: 8px !important;
  }
}

/* Small Devices (Tablets) */
@media (min-width: 576px) and (max-width: 767px) {
  .header-text h2 {
    font-size: 32px;
    line-height: 1.1;
  }
  .options-fl-main {
    width: calc(100% / 2);
  }
  .project-small {
    width: 49.5%;
    margin-bottom: 20px;
  }
  .project-large {
    margin-bottom: 20px;
  }
  .project-large .showcase {
    width: 100%;
    height: 415px;
    margin-bottom: 8px;
  }
  .empty-space {
    display: none;
  }

  #footer-pt1 {
    width: 50%;
    margin-bottom: 60px;
    gap: 30px;
  }

  #footer-pt2 {
    margin-bottom: 20px;
  }

  #footer-pt2 > p {
    display: none;
  }
  footer > p {
    display: block;
  }
  #mail-d{
    display: none;
  }
  #ft-rt {
    width: 28%;
  }
}

/* Medium Devices (Small Laptops) */
@media (min-width: 768px) and (max-width: 991px) {
  .header-text h2 {
    font-size: 3.2vw;
    line-height: 1.1;
  }
  .options-fl-main {
    width: calc(100% / 3);
  }
  .project-small {
    width: 32.8%;
    margin-bottom: 50px;
  }
  .project-large {
    width: 32.8%;
    margin-bottom: 50px;
  }
  .project-small .showcase {
    height: 330px;
    margin-bottom: 8px;
  }
  .project-large .showcase {
    width: 100%;
    height: 330px;
    margin-bottom: 8px;
  }
  .empty-space {
    display: none;
  }

  
  #footer-pt1 {
    width: 40.5%;
    margin-bottom: 35px;
    gap: 30px;
  }

  #footer-pt2 {
    margin-bottom: 20px;
  }

  #footer-pt2 > p {
    display: none;
  }
  footer > p {
    display: block;
  }
#mail-d{
  display: none;
}

  #ft-rt {
    width: 28%;
  }
}

@media (min-width: 855px) and (max-width: 991px) {
  .project-small .showcase {
    height: 365px;
    margin-bottom: 8px;
  }
  .project-large .showcase {
    width: 100%;
    height: 365px;
    margin-bottom: 8px;
  }
}
/* Large Devices (Laptops and Desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  .header-text h2 {
    font-size: 3.2vw;
    line-height: 1.1;
  }
  .options-fl-main {
    width: calc(100% / 3);
  }
  .project-small {
    width: 32.8%;
    margin-bottom: 50px;
  }
  .project-large {
    width: 32.8%;
    margin-bottom: 50px;
  }
  .project-small .showcase {
    height: 410px;
    margin-bottom: 8px;
  }
  .project-large .showcase {
    width: 100%;
    height: 410px;
    margin-bottom: 8px;
  }
  .empty-space {
    display: none;
  }
  #footer-pt1 {
    width: 28%;
    margin-bottom: 35px;
    gap: 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1286px) {
  .project-small .showcase {
    height: 380px;
    margin-bottom: 8px;
  }
  .project-large .showcase {
    width: 100%;
    height: 100vh;
    margin-bottom: 8px;
  }
}
